Repository mattdornfeld/moonraker: changes, and which GitLab CI jobs are due for each by the changed paths.
All: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

bqwriter_image:
  variables:
    DOCKER_ARGS: -f dockerfiles/Dockerfile.bqwriter
    DOCKER_REPO: $CI_REGISTRY_IMAGE/bqwriter

bqwriter:
  before_script:
  - 'echo ''export VERSION_TAG environment variable'' && set -o allexport && if [ -f "semantic_version.env" ]; then source semantic_version.env; else VERSION_TAG=0.1.0-${CI_COMMIT_SHA}; fi && set +o allexport
  
    export VERSION_TAG
  
    '
  ...

delete_bqwriter:
  environment:
    name: bqwriter/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    RELEASE_NAME: $CI_COMMIT_REF_NAME-bqwriter

gpu_image:
  variables:
    DOCKER_ARGS: -f dockerfiles/Dockerfile.gpu
    DOCKER_REPO: $CI_REGISTRY_IMAGE/gpu

cpu_image:
  variables:
    DOCKER_ARGS: -f dockerfiles/Dockerfile.cpu
    DOCKER_REPO: $CI_REGISTRY_IMAGE/cpu

coinbase_train:
  before_script:
  - 'echo ''export VERSION_TAG environment variable'' && set -o allexport && if [ -f "semantic_version.env" ]; then source semantic_version.env; else VERSION_TAG=0.1.0-${CI_COMMIT_SHA}; fi && set +o allexport
  
    export VERSION_TAG
  
    '
  - 'HELM_ARGS="--set CI_TOKEN=${CI_TOKEN}
  
  ...

delete_coinbase_train:
  environment:
    name: staging/train-$CI_COMMIT_REF_NAME
    action: stop
  variables:
    RELEASE_NAME: $CI_COMMIT_REF_NAME-coinbaseml-train

coinbase_serve:
  before_script:
  - 'echo ''export VERSION_TAG environment variable'' && set -o allexport && if [ -f "semantic_version.env" ]; then source semantic_version.env; else VERSION_TAG=0.1.0-${CI_COMMIT_SHA}; fi && set +o allexport
  
    export VERSION_TAG
  
    '
  ...

delete_coinbase_serve:
  environment:
    name: staging/serve-$CI_COMMIT_REF_NAME
    action: stop
  variables:
    RELEASE_NAME: $CI_COMMIT_REF_NAME-coinbase-btc-usd-serve

coinbase_kafka_producer:
  before_script:
  - 'echo ''export VERSION_TAG environment variable'' && set -o allexport && if [ -f "semantic_version.env" ]; then source semantic_version.env; else VERSION_TAG=0.1.0-${CI_COMMIT_SHA}; fi && set +o allexport
  
    export VERSION_TAG
  
    '
  ...

delete_coinbase_kafka_producer:
  environment:
    name: staging/coinbase-kafka-producer-$CI_COMMIT_REF_NAME
    action: stop
  variables:
    RELEASE_NAME: coinbase-kafka-producer-$CI_COMMIT_REF_NAME

Further Fakebase performance increases
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/rewards/ReturnRewardStrategy.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/rewards/RewardStrategy.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngine.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/ProgressBar.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/utils/IndexedLinkedList.scala
  scala/common/src/main/scala/co/firstorderlabs/common/currency/Price.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Events.scala
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Enabled scala inline optimizer and made all classes in project final
  coinbase_ml/fakebase/constants.py
  coinbase_ml/fakebase/utils/grpc_utils.py
  dockerfiles/Dockerfile.bqwriter
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
  scala/build.sbt
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/Environment.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/Actions.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/featurizers/OrderBookFeaturizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/featurizers/TimeSeriesFeaturizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Account.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/FakebaseServer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngine.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/OrderBook.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/ProgressBar.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/SnapshotBuffer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Wallets.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/PostgresReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Types.scala
  scala/common/src/main/scala/co/firstorderlabs/common/currency/Price.scala
  scala/common/src/main/scala/co/firstorderlabs/common/currency/Volume.scala
  scala/common/src/main/scala/co/firstorderlabs/common/protos/environment/InfoDict.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Events.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Types.scala
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Catch errors in BqWriter onNext method
  scala/bqwriter/src/main/scala/co/firstorderlabs/bqwriter/BigQueryEventWriter.scala
  scala/build.sbt
Due: bqwriter_image, bqwriter, delete_bqwriter

Remove SnapshotBuffer to increase performance
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/InfoAggregator.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/SignalPositionSize.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/featurizers/OrderBookFeaturizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/featurizers/TimeSeriesFeaturizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/rewards/LogReturnRewardStrategy.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/rewards/ReturnRewardStrategy.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/rewards/RewardStrategy.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Checkpointer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngine.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/ProgressBar.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Snapshot.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/SnapshotBuffer.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/InfoAggregatorTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/featurizers/TestOrderBookFeaturizer.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/featurizers/TestTimeSeriesFeaturizer.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/rewards/TestLogReturnRewardStrategy.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/rewards/TestReturnRewardStrategy.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/CheckpointerTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/SnapshotBufferTest.scala
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Store BigQuery data locally in SwayDB for fast access
  Makefile
  bin/build_python_protos
  bin/clean
  bin/clean_swaydb
  coinbase_ml/fakebase/constants.py
  coinbase_ml/fakebase/utils/grpc_utils.py
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/BigQueryReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Configs.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReaderBase.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/PostgresReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/SwayDbStorage.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Types.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/utils/TestUtils.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngineTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/BigQueryReaderTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/PostgresReaderTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/TestData.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/utils/TestIndexedLinkedList.scala
  scala/common/src/main/protobuf/events.proto
  scala/common/src/main/scala/co/firstorderlabs/common/currency/PreciseNumber.scala
  scala/common/src/main/scala/co/firstorderlabs/common/currency/Price.scala
  scala/common/src/main/scala/co/firstorderlabs/common/currency/Volume.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Events.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Types.scala
  scala/project/CoinbasemlDependencies.scala
  setup.py
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Fix bug where bqwriter malforms Cancellation OrderId objects
  scala/bqwriter/src/main/scala/co/firstorderlabs/bqwriter/BigQueryEventWriter.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Events.scala
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Migrate from SwayDb to RocksDb
  .gitlab-ci.yml
  Makefile
  bin/clean_local_storage
  bin/clean_swaydb
  coinbase_ml/fakebase/constants.py
  coinbase_ml/fakebase/utils/grpc_utils.py
  coinbase_ml/train/experiment_configs/staging.py
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/utils/Utils.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngine.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Snapshot.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/BigQueryReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Configs.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReaderBase.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorage.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/PostgresReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/SwayDbStorage.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Types.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/utils/TestUtils.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/CheckpointerTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/BigQueryReaderTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorageTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/PostgresReaderTest.scala
  scala/common/src/main/protobuf/fakebase.proto
  scala/common/src/main/scala/co/firstorderlabs/common/types/Types.scala
  scala/project/CoinbasemlDependencies.scala
  setup.py
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Update scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Configs.scala, helm/coinbase-ml-train/values.yaml files
  helm/coinbase-ml-train/values.yaml
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Configs.scala
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Tune number of reader threads for BigQuery to RocksDb ingestion
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Configs.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/BigQueryReaderTest.scala
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Tweak ape-x params so that model trains on ~ 1 million timesteps and warms up for 50 thousand before learning starts
  Makefile
  coinbase_ml/common/utils/ray_utils.py
  coinbase_ml/fakebase/constants.py
  coinbase_ml/fakebase/exchange.py
  coinbase_ml/train/constants.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/experiment_configs/default.py
  coinbase_ml/train/experiment_configs/staging.py
  coinbase_ml/train/train.py
  coinbase_ml/train/trainers/apex_td3.py
  coinbase_ml/train/utils/config_utils.py
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
  helm/coinbase-ml-train/templates/job_service.yaml
  helm/coinbase-ml-train/templates/train_job.yaml
  helm/coinbase-ml-train/values.yaml
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/Environment.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/InfoAggregator.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/SignalPositionSize.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/utils/Utils.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Configs.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngine.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/ProgressLogger.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Snapshot.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Wallets.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorage.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/InfoAggregatorTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/TestSignalPositionSize.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/common/rewards/TestReturnRewardStrategy.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/AccountTest.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/TestData/RequestsData.scala
  scala/common/src/main/protobuf/environment.proto
  scala/common/src/main/scala/co/firstorderlabs/common/protos/environment/InfoDict.scala
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Switched APE-X exploration to use PerWorkerGaussianNoise resulting in better exploration
  Makefile
  bin/port_forward
  bin/start_jupyter_lab
  coinbase_ml/common/utils/ray_utils.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/trainers/apex_td3.py
  coinbase_ml/train/utils/per_worker_gaussian_noise.py
  helm/coinbase-ml-train/templates/jupyter_deployment.yaml
  helm/coinbase-ml-train/templates/jupyter_service.yaml
  helm/coinbase-ml-train/values.yaml
  notebooks/Untitled.ipynb
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Python environment will only backup LocalStorage to CloudStorage for workers with index of 0 and 1
  coinbase_ml/fakebase/exchange.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/trainers/apex_td3.py
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/common/src/main/protobuf/fakebase.proto
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Replace Java serialization with BooPickle when writing to RocksDB
  coinbase_ml/train/experiment_configs/staging.py
  helm/coinbase-ml-train/values.yaml
  notebooks/Untitled.ipynb
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorage.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Types.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorageTest.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Types.scala
  scala/project/CoinbasemlDependencies.scala
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Wrote StorageWriter app for populating LocalStorage and CloudStorage with data from DatabaseBackend
  .gitlab-ci.yml
  bin/storagewriter_entrypoint
  dockerfiles/Dockerfile.cpu
  dockerfiles/Dockerfile.gpu
  helm/coinbase-ml-train/Chart.yaml
  helm/coinbaseml-storagewriter/Chart.yaml
  helm/coinbaseml-storagewriter/requirements.yaml
  helm/coinbaseml-storagewriter/templates/storagewriter_job.yaml
  helm/coinbaseml-storagewriter/values.yaml
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/StorageWriter.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Types.scala
  scala/common/src/main/protobuf/fakebase.proto
  scala/common/src/main/scala/co/firstorderlabs/common/types/Types.scala
  setup.py
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Fix bug where TimeInterval key lookup failed
  notebooks/Untitled.ipynb
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/DatabaseReader.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorage.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/Types.scala
  scala/coinbaseml/src/test/scala/co/firstorderlabs/coinbaseml/fakebase/sql/LocalStorageTest.scala
  scala/common/src/main/scala/co/firstorderlabs/common/types/Types.scala
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Wrote PositionSize Actionizer that adjust position size based on single output of model
  coinbase_ml/common/constants.py
  coinbase_ml/common/models/td3_actor_critic.py
  coinbase_ml/common/utils/ray_utils.py
  coinbase_ml/train/experiment_configs/default.py
  coinbase_ml/train/experiment_configs/staging.py
  helm/coinbase-ml-train/values.yaml
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/Environment.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/InfoAggregator.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/PositionRebalancer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/PositionSize.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/SignalPositionSize.scala
  scala/common/src/main/protobuf/environment.proto
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Set episode to end early if max negative roi is reached
  coinbase_ml/common/utils/ray_utils.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/experiment_configs/default.py
  coinbase_ml/train/experiment_configs/staging.py
  coinbase_ml/train/utils/config_utils.py
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/InfoAggregator.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/MatchingEngine.scala
  scala/common/src/main/protobuf/environment.proto
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Reorganize Python configuration
  Makefile
  coinbase_ml/common/action.py
  coinbase_ml/common/actionizers.py
  coinbase_ml/common/actionizers/__init__.py
  coinbase_ml/common/featurizers.py
  coinbase_ml/common/featurizers/__init__.py
  coinbase_ml/common/featurizers/account_featurizer.py
  coinbase_ml/common/featurizers/info_dict_featurizer.py
  coinbase_ml/common/featurizers/order_book_featurizer.py
  coinbase_ml/common/featurizers/time_series_featurizer.py
  coinbase_ml/common/featurizers/types.py
  coinbase_ml/common/models/__init__.py
  coinbase_ml/common/models/ppo_actor_value.py
  coinbase_ml/common/models/td3_actor_critic.py
  coinbase_ml/common/types.py
  coinbase_ml/common/utils/ray_utils.py
  coinbase_ml/fakebase/exchange.py
  coinbase_ml/serve/controller.py
  coinbase_ml/serve/serve.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/experiment_configs/__init__.py
  coinbase_ml/train/experiment_configs/apex_td3/__init__.py
  coinbase_ml/train/experiment_configs/apex_td3/dev.py
  coinbase_ml/train/experiment_configs/apex_td3/staging.py
  coinbase_ml/train/experiment_configs/default.py
  coinbase_ml/train/experiment_configs/staging.py
  coinbase_ml/train/train.py
  coinbase_ml/train/trainers/__init__.py
  coinbase_ml/train/trainers/apex_td3.py
  coinbase_ml/train/trainers/ppo.py
  coinbase_ml/train/utils/config_utils.py
  coinbase_ml_tests/common/actionizers/test_actionizers_init.py
  coinbase_ml_tests/constants.py
  coinbase_ml_tests/train/test_train.py
  setup.cfg
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Wrote Impala trainer config and EntrySignal Actionizer
  bin/train_job_entrypoint
  coinbase_ml/common/actionizers.py
  coinbase_ml/common/models/actor_value.py
  coinbase_ml/common/models/ppo_actor_value.py
  coinbase_ml/common/utils/ray_utils.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/experiment_configs/__init__.py
  coinbase_ml/train/experiment_configs/apex_td3/dev.py
  coinbase_ml/train/experiment_configs/impala/__init__.py
  coinbase_ml/train/experiment_configs/impala/dev.py
  coinbase_ml/train/experiment_configs/impala/staging.py
  coinbase_ml/train/train.py
  helm/coinbase-ml-train/values.yaml
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/Environment.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/Actionizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/PositionSize.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/SignalPositionSize.scala
  scala/common/src/main/protobuf/environment.proto
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Wrote Apex Rainbow model and trainer
  coinbase_ml/common/layers.py
  coinbase_ml/common/models/rainbow_model.py
  coinbase_ml/train/environment.py
  coinbase_ml/train/experiment_configs/__init__.py
  coinbase_ml/train/experiment_configs/apex_rainbow/__init__.py
  coinbase_ml/train/experiment_configs/apex_rainbow/dev.py
  coinbase_ml/train/experiment_configs/apex_rainbow/staging.py
  helm/coinbase-ml-train/values.yaml
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/Actionizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/PositionRebalancer.scala
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Update scala/build.sbt
  scala/build.sbt
Due: none

Tuning of Ape-X rainbow model
  coinbase_ml/train/experiment_configs/apex_rainbow/staging.py
Due: none

Trend following optimization application
  .gitlab-ci.yml
  Makefile
  bin/port_forward
  bin/train_job_entrypoint
  bin/trend_following_optimization_entrypoint
  bin/view_logs
  helm/coinbaseml-trend-following/Chart.yaml
  helm/coinbaseml-trend-following/requirements.yaml
  helm/coinbaseml-trend-following/templates/optimization_job.yaml
  helm/coinbaseml-trend-following/templates/optimization_job_service.yaml
  helm/coinbaseml-trend-following/values.yaml
  python/coinbase_ml/common/actionizers.py
  python/coinbase_ml/common/constants.py
  python/coinbase_ml/common/utils/ray_utils.py
  python/coinbase_ml/fakebase/exchange.py
  python/coinbase_ml/train/constants.py
  python/coinbase_ml/train/experiment_configs/apex_rainbow/dev.py
  python/coinbase_ml/train/experiment_configs/apex_rainbow/staging.py
  python/coinbase_ml/train/experiment_configs/apex_td3/dev.py
  python/coinbase_ml/train/experiment_configs/apex_td3/staging.py
  python/coinbase_ml/train/experiment_configs/impala/dev.py
  python/coinbase_ml/train/experiment_configs/impala/staging.py
  python/coinbase_ml/train/train.py
  python/coinbase_ml/trend_following/constants.py
  python/coinbase_ml/trend_following/evaluate.py
  python/coinbase_ml/trend_following/experiment_configs/__init__.py
  python/coinbase_ml/trend_following/experiment_configs/ema_crossover/staging.py
  python/coinbase_ml/trend_following/optimize.py
  python/coinbase_ml/trend_following/populate_storage.py
  python/coinbase_ml_tests/constants.py
  python/setup.cfg
  python/setup.py
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/Actionizer.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/Exchange.scala
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/SimulationState.scala
  scala/common/src/main/protobuf/environment.proto
  scala/common/src/main/protobuf/fakebase.proto
Due: bqwriter_image, bqwriter, delete_bqwriter, gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Update scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/StorageWriter.scala
  python/coinbase_ml/fakebase/types/__init__.py
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/fakebase/sql/StorageWriter.scala
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Wrote experiment config for BollingerOnBookVolume strategy optimization
  helm/coinbaseml-trend-following/values.yaml
  python/coinbase_ml/common/actionizers.py
  python/coinbase_ml/trend_following/experiment_configs/__init__.py
  python/coinbase_ml/trend_following/experiment_configs/bollinger_on_book_volume.py
  python/coinbase_ml/trend_following/experiment_configs/ema_crossover.py
  python/coinbase_ml/trend_following/experiment_configs/ema_crossover/__init__.py
  python/coinbase_ml/trend_following/experiment_configs/ema_crossover/staging.py
  scala/coinbaseml/src/main/scala/co/firstorderlabs/coinbaseml/common/actions/actionizers/BollingerOnBookVolume.scala
Due: gpu_image, cpu_image, coinbase_train, delete_coinbase_train, coinbase_serve, delete_coinbase_serve, coinbase_kafka_producer, delete_coinbase_kafka_producer

Wrote module for labeling of price series for supervised learning
  python/coinbase_ml/common/constants/__init__.py
  python/coinbase_ml/common/constants/tune.py
  python/coinbase_ml/common/utils/ray_utils.py
  python/coinbase_ml/common/utils/validate_args.py
  python/coinbase_ml/fakebase/utils/grpc_utils.py
  python/coinbase_ml/supervised/__init__.py
  python/coinbase_ml/supervised/constants.py
  python/coinbase_ml/supervised/experiment_configs.py
  python/coinbase_ml/supervised/generate_data.py
  python/coinbase_ml/supervised/label.py
  python/coinbase_ml/supervised/optimize_labels.py
  python/coinbase_ml/supervised/portfolio.py
  python/coinbase_ml/trend_following/experiment_configs/bollinger_on_book_volume.py
  python/coinbase_ml/trend_following/experiment_configs/ema_crossover.py
  python/coinbase_ml/trend_following/optimize.py
  python/coinbase_ml_tests/supervised/__init__.py
  python/coinbase_ml_tests/supervised/test_label.py
  python/setup.cfg
  python/setup.py
Due: none

Path conditions:
  bqwriter_image: any of: dockerfiles/Dockerfile.bqwriter, helm/bqwriter/**/*, scala/bqwriter/**/*, scala/common/**/*, scala/bqWriterDependencies.scala, scala/project/CommonDependencies.scala
  bqwriter: any of: dockerfiles/Dockerfile.bqwriter, helm/bqwriter/**/*, scala/bqwriter/**/*, scala/common/**/*, scala/bqWriterDependencies.scala, scala/project/CommonDependencies.scala
  delete_bqwriter: any of: dockerfiles/Dockerfile.bqwriter, helm/bqwriter/**/*, scala/bqwriter/**/*, scala/common/**/*, scala/bqWriterDependencies.scala, scala/project/CommonDependencies.scala
  gpu_image: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  cpu_image: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  coinbase_train: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  delete_coinbase_train: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  coinbase_serve: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  delete_coinbase_serve: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  coinbase_kafka_producer: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
  delete_coinbase_kafka_producer: any of: coinbaseml/**/*, coinbaseml_tests/**/*, dockerfiles/Dockerfile.cpu, dockerfiles/Dockerfile.gpu, helm/coinbase-ml-train/**/*, helm/coinbase-ml-serve/**/*, notebooks/**/*, scala/coinbaseml/**/*, scala/common/**/*, scala/project/CommonDependencies.scala, scala/project/CoinbasemlDependencies.scala, setup.cfg, setup.py
